@font-face {
    font-family: "cooper";
    src: url("../fonts/cooper.woff");
}
* {
    font-family: "cooper";  
}
html, body{
    background-image: url("../img/background.png");
}
a{
    margin: 10px;
}
.time{
    font-size: 700%;
    text-align: center;
    color: #ffffff;
}
.welcome{
    font-size: 500%;
    margin: 25px;
    text-align: center;
    color: #ffffff;
}
.icon{
    height: 45px;
    position: relative;
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17%;
    width: 17%;
}
.gst{
    position: absolute;
    height: 40px;
    top: 8px;
    right: 8px;
}
.refresh{
    position: absolute;
    height: 50px;
    top: 8px;
    left: 8px;
    cursor: pointer;
}
