@font-face {
    font-family: "cooper";
    src: url("../fonts/cooper.woff");
}
* {
    font-family: "cooper";  
}
html, body{
    background-image: url("../img/background.png");
}
a{
    margin: 10px;
}
.time{
    font-size: 700%;
    text-align: center;
    color: #ffffff;
}
.welcome{
    font-size: 500%;
    margin: 25px;
    text-align: center;
    color: #ffffff;
}
.icon{
    height: 75px;
    position:relative;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}
.gst{
    position: absolute;
    height: 50px;
    top: 5px;
    right: 5px;
}
.refresh{
    position: absolute;
    height: 50px;
    top: 5px;
    left: 5px;
}
